/* Header Top Area
============== */

.header-top {
    background: #0e1218;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding: 15px 0;
}

.contact-info i {
    color: #C89D66;
    font-size: 20px;
    margin-right: 2px;
}

.site-info .social-area {
    display: inline-block;
    margin-left: 10px;
}

.site-info .social-area i {
    font-size: 17px;
    color: #8D9CC5;
    padding-left: 10px;
}


/* Header Area 
============== */

.header-area .logo img {
    margin: 15px 0;
    filter: grayscale(0);
}

.header-area .navigation {
    padding: 0px 30px;
    height: 90px;
    position: relative;
    z-index: 9;
}

#header-2.header-area .navigation {
    background: none;
}

#header-3.header-area .navigation {
    background: #00000040;
}

#header-1 .container-fluid {
    padding: 0;
}

#header-1 .navigation {
    background: #1F2839;
}

/*
#header-1 .logo {
	text-align: right;
}
*/

.header-area.absolute-header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    -webkit-transition: .3s;
    transition: .3s;
}

#header-3.header-area.absolute-header {
    top: 30px;
    padding: 0;
}

.responsive-logo {
    display: none;
}

.sub-title {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.sub-title p {
    margin-top: 30px;
    font-size: 18px;
}

.sub-title:before {
    position: absolute;
    content: "";
    top: 60%;
    left: -35px;
    height: 40px;
    border-left: 2px solid #eee;
    margin-top: -20px;
}

/* Header Aside */

#header-aside .aside-content {
    float: right;
    color: #585252;
    margin-top: 25px;
}

#header-aside .aside-content .info-wrap {
    display: table;
    overflow: hidden;
    width: 100%;
    margin-right: 15px;
}

#header-aside .aside-content .info-i,
#header-aside .aside-content .info-c {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

#header-aside .aside-content .info-c span {
    opacity: .5;
}

#header-aside .aside-content .info-i {
    width: 45px;
}

#header-aside .aside-content .info-i span {
    position: relative;
    z-index: 1;
    font-size: 30px;
    color: #C89D66;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}

#header-aside .aside-content .info-i span i::before {
    font-size: 36px;
}

#header-aside .aside-content .info-i span:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: 1px dashed transparent;
    background-color: transparent;
}

#header-aside .aside-content .inner > div {
    float: left;
    display: block;
    position: relative;
    color: #777;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-left: 25px;
    border-right: 2px solid #eee;
}

#header-aside .aside-content .inner > div:last-child {
    border: 0;
}

.header-area.absolute-header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    -webkit-transition: .3s;
    transition: .3s;
}

#header-3.header-area.absolute-header {
    top: 30px;
    padding: 0;
}

.responsive-logo {
    display: none;
}

.sub-title {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.sub-title p {
    margin-top: 30px;
    font-size: 18px;
}

.sub-title:before {
    position: absolute;
    content: "";
    top: 60%;
    left: -35px;
    height: 40px;
    border-left: 2px solid #eee;
    margin-top: -20px;
}