/* Price Section 
============== */

.single-price-item {
    background: #fff;
    text-align: center;
    padding: 30px 50px;
    margin-top: 50px;
    border: 7px solid #eee;
    transition: .3s;
}

.single-price-item h5 {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.single-price-item h6 {
    font-size: 17px;
    line-height: 22px;
    color: #777;
}

.single-price-item h5:before {
    position: absolute;
    content: "";
    width: 54px;
    height: 2px;
    bottom: -10px;
    left: 0;
    right: 0;
    background: #C79C65;
    margin: 0 auto;
}

.single-price-item p b {
    font-size: 50px;
    color: #C79C65;
    margin-right: 10px;
}

.single-price-item p {
    font-size: 18px;
    margin: 40px 0px;
}

.price-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.price-list ul li {
    display: block;
    margin: 30px 0;
    color: $gray;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    padding-left: 20px;
    transition: .3s;
}

.single-price-item .main-btn {
    display: inline-block;
    margin: 30px 0 0;
    padding: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.single-price-item.active {
    border: 7px solid #C79C65;
}