/* Promo Section
============== */

.single-promo-item {
    text-align: center;
    padding: 50px;
    position: relative;
    z-index: 1;
    background: #191D33;
    height: 280px;
    margin-top: -120px;
    transition: .5s;
}


.single-promo-item h5 {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    margin: 30px 0 25px;
}

.single-promo-item p {
    color: #fff;
    font-weight: 400;
}

.single-promo-item.spro {
    background: #C79C65;
    color: #fff;
}

.single-promo-item.spro h5 {
    color: #fff;
}

.single-promo-item.spro p {
    color: #fff;
}

.single-promo-item.spro .promo-icon {
    color: #fff;
}

.single-promo-item.spro .promo-icon i:before {
    color: #fff;
}

.single-promo-item i {
    position: relative;
}

.promo-icon i:before {
    font-size: 50px;
    font-weight: 400;
    color: #C79C65;
}