/* Choose Us Section 
============== */

.choose-us-area {
    background-image: url(../img/about/law-watermark.jpg);
    height: 500px;
    position: relative;
    z-index: 1;
    background-position: top;
    background-repeat: no-repeat;
}

.choose-us-wrapper {
    background: #fff;
    box-shadow: 0 3px 9px -2px #d0cece;
    margin-top: 30px;
    position: relative;
}

.choose-us-inner {
    text-align: center;
    padding: 50px 30px;
    border-right: 1px solid #eee;
}

.choose-us-inner h5 {
    font-size: 22px;
    margin: 40px 0 20px;
}

.choose-us-inner:nth-last-child(4) {
    border-right: none;
}

.choose-us-icon {
    position: relative;
    z-index: 1;
}

.choose-us-icon:after {
    position: absolute;
    content: "";
    top: 0;
    left: 50px;
    width: 80px;
    height: 80px;
    background: #f6f6f6;
    border-radius: 50%;
    z-index: -1;
    transition: .3s;
}

.choose-us-inner:hover .choose-us-icon:after {
    width: 100px;
    height: 100px;
    top: -18px;
    left: 55px;
    background: #ce9040;
    opacity: .2;
}